<!DOCTYPE html>
<html lang="en" style='width: 100%; height: 100%'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ev</title>
</head>
<body style="width: 100%; height: 100%; background-color: #1f1a24; " >
    <div style="width:100%; height: 100%; background-image: url(../assets/animations/valenberg/valenberg.gif); background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;"> 
    </div>
</body>
</html>